* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    background-color: black;
    position: relative;
    z-index: 10;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #EFEAE3;
    padding: 0vw 2vw;


}

nav {

    width: 100%;
    padding: 2vw 2vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid rgba(52, 47, 47, 0.351);
    border-radius: 50px;
    font-weight: 700;
    color: rgba(212, 17, 17, 0.986);
    font-size: 17px;
    position: relative;
    overflow: hidden;
    transition: all ease 0.3s;

}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;


}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 50px;
}

#nav-part2 h4 a {
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a {
    color: white;
}

#center {
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(62, 60, 60, 0.608);
    padding-right: 30px;
    padding-bottom: 50px;
}

#left h3 {
    width: 30vw;
    font-size: 1.5vw;
    line-height: 1.5vw;

}

#center {
    font-size: 5vw;
    line-height: 7vw;
    text-align: right;
}

#page1 video {
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;

}

#con {
    width: 50vw;
    height: 35vw;
    background-color: #FE330A;
    position: absolute;
    right: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    top: 35vw;
    filter: blur(30px);
}

#gola1 {
    position: absolute;
    width: 50vh;
    height: 50vh;
    background-color: #FE330A;
    border-radius: 50%;
    filter: blur(30px);
    animation-name: anime1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    right: 26%;
}

#gola2 {
    position: absolute;
    width: 60vh;
    height: 60vh;
    background-color: #FE330A;
    border-radius: 50%;
    right: 0;
    filter: blur(30px);
    animation-name: anime2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 2.5s;
}

@keyframes anime1 {
    from {
        transform: translate(-25%, 25%)
    }

    to {
        transform: translate(35%, -35%)
    }
}

@keyframes anime2 {
    from {
        transform: translate(-10%, 10%)
    }

    to {
        transform: translate(35%, -35%)
    }
}

#page2 {
    height: 40vh;
    background-color: #EFEAE3;
    width: 100%;
    position: relative;

}

#moving {
    padding-top: 6vw;
    white-space: nowrap;
    overflow-x: auto;
    font-size: 4.1vw;

}

#moving::-webkit-scrollbar {
    display: none;
}

#gola {
    background-color: #FE330A;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: inline-block;
}

.con1 h1 {

    display: inline-block;

}

.con1 {
    display: inline-block;
    white-space: nowrap;
    animation-name: move;
    animation-duration: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move {
    from {
        transform: translatex(0);
    }

    to {
        transform: translatex(-100%);
    }

}

#page2-bottom {
    width: 100%;
    height: 110vh;
    background-color: #EFEAE3;
    display: flex;
    padding: 4.5vw;
    position: relative;
    z-index: 9;
    justify-content: space-between;

}

#page2-bottom h1 {

    z-index: 9;
    font-size: 3.5vw;
    font-weight: 1000;
    line-height: 3vw;
    width: 60%;


}




#image {

    margin-top: 10vw;
    padding-top: 10vw;
    width: 20%;
    background-color: #EFEAE3;
}

#image img {

    width: 100%;
    border-radius: 15px;
}

#image p {
    padding-top: 2vw;
    font-size: 15px;
    line-height: 15px;
}

#gola5 {
    top: 32%;
    left: 32%;
    position: absolute;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-color: #FF9831;
    filter: blur(20px);
    animation-name: chalo2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

#gola3 {
    top: 35%;
    left: 27%;
    position: absolute;
    background-color: #fb7832;
    border-radius: 50%;
    height: 30vw;
    width: 30vw;
    filter: blur(20px);
    animation-name: chalo1;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#gola4 {
    top: 27%;
    left: 27%;
    position: absolute;
    background-color: #FE330A;
    border-radius: 50%;
    height: 33vw;
    width: 33vw;
    filter: blur(50px);
    animation-name: chalo;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: backwards;
}


@keyframes chalo {
    from {
        transform: translate(-20%, 20%) skew(-10deg);
    }

    to {
        transform: translate(5%, -6%) skew(0deg);
    }
}

@keyframes chalo1 {
    from {
        transform: translate(-5%, 6%);
    }

    to {
        transform: translate(10%, -10%) skew(-10deg);
    }
}

@keyframes chalo2 {
    from {
        transform: translateY(10%);
    }

    to {
        transform: translateY(-15%);
    }
}

#page3 {
    background-color: #EFEAE3;
    min-height: 100vh;
    width: 100%;
    padding: 0px 2vw;
}

.elem {
    background-color: #EFEAE3;
    height: 95px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 2vw;
    border-bottom: 1px solid rgba(76, 70, 70, 0.314);
    overflow: hidden;
}

.elem h2 {
    z-index: 9;
    font-size: 2vw;
}

.elem .overlay {
    width: 100%;
    height: 100%;
    background-color: #FF9831;
    top: -100%;
    position: absolute;
    left: 0%;
    transition: all ease 0.3s;
}

.elem:hover .overlay {
    top: 0;
}

#page5 {

    height: 100vh;
    width: 100%;

}

#footer {
    background-color: black;
    position: fixed;
    height: 110vh;
    width: 100%;
    bottom: 0;
    z-index: 9;
    align-items: bottom;
    justify-content: flex-end;

}

#footer h1 {
    position: relative;
    margin-top: 5vw;
    margin-left: 2.5vw;
    bottom: 0;
    color: white;
    align-items: bottom;
    font-size: 22.5vw;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 1px;
    text-underline-offset: 4.5vw;
    bottom: 0;
    z-index: 10;

}

.footer-shape {
    position: absolute;
    height: 25vw;
    width: 100%;
}

.shape {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 25vw;
    width: 100%;
    position: absolute;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    filter: blur(50px);

}

.shape2 {
    left: 0;
    position: absolute;
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: chalo3;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

.shape3 {
    left: 0;
    position: absolute;
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: chalo4;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;

}

.shape4 {
    position: absolute;
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: chalo3;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;

}

.shape5 {
    position: absolute;
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: chalo4;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;


}

.footer2 {
    right: 0;
}

@keyframes chalo3 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}


@keyframes chalo4 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

.footer-text {
    top: 15%;
    position: relative;
    height: 20vw;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 2vw 10vw;
    align-items: center;
    z-index: 9;
    color: white;

}

.footer-text {

    font-size: 2vw;
}

.footer-text2 {
    height: 27vw;
    width: 30%;
    font-size: 1vw;
    align-content: center;
    justify-content:space-between ;
color: white;
}

.footer-text2 button {
    
    text-align: left;
    height: 50px;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 17px;
    background-color: transparent;
    color: #c9c4c4;
    border: none;
    border-bottom: 1px solid #c9c4c4;
    width: 100%;
}